In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_squared_error
import warnings
warnings.simplefilter('ignore')

In [3]:
# Load dataset
df = pd.read_csv('Life Expectancy Data.csv')
#df.dataframeName = 'Life Expectancy Data.csv'
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [4]:
df.shape

(2938, 22)

In [5]:
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [6]:
df = df.drop(['Country','Year','Status'],axis=1)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Life expectancy                  2928 non-null   float64
 1   Adult Mortality                  2928 non-null   float64
 2   infant deaths                    2938 non-null   int64
 3   Alcohol                          2744 non-null   float64
 4   percentage expenditure           2938 non-null   float64
 5   Hepatitis B                      2385 non-null   float64
 6   Measles                          2938 non-null   int64
 7    BMI                             2904 non-null   float64
 8   under-five deaths                2938 non-null   int64
 9   Polio                            2919 non-null   float64
 10  Total expenditure                2712 non-null   float64
 11  Diphtheria                       2919 non-null   float64
 12   HIV/AIDS                        2938 non-null   float64
 13  GDP                              2490 non-null   float64
 14  Population                       2286 non-null   float64
 15   thinness  1-19 years            2904 non-null   float64
 16   thinness 5-9 years              2904 non-null   float64
 17  Income composition of resources  2771 non-null   float64
 18  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(3)
memory usage: 436.2 KB

In [8]:
df.describe()

,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [9]:
df.isnull().sum()

Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [10]:
df = df.dropna()

In [11]:
df.shape

(1649, 19)

In [25]:
df.isnull().sum().sum()

0

In [13]:
df.head()

,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [27]:
corr_matrix = abs(df.corr())
print(corr_matrix["Life expectancy "].sort_values(ascending=False))

Life expectancy                    1.000000
Schooling                          0.727630
Income composition of resources    0.721083
Adult Mortality                    0.702523
 HIV/AIDS                          0.592236
 BMI                               0.542042
 thinness  1-19 years              0.457838
 thinness 5-9 years                0.457508
GDP                                0.441322
percentage expenditure             0.409631
Alcohol                            0.402718
Diphtheria                         0.341331
Polio                              0.327294
Hepatitis B                        0.199935
under-five deaths                  0.192265
Total expenditure                  0.174718
infant deaths                      0.169074
Measles                            0.068881
Population                         0.022305
Name: Life expectancy , dtype: float64

In [15]:
X = df.drop(['Life expectancy ','Population','GDP','percentage expenditure','Total expenditure',' thinness 5-9 years'],axis=1)
y = df['Life expectancy ']

In [28]:
X.shape

(1649, 13)

In [29]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=45)

In [30]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(n_estimators=500)
rfr.fit(X_train,y_train)

RandomForestRegressor(n_estimators=500)

In [31]:
y_pred = rfr.predict(X_test)
mean_squared_error(y_test, y_pred)

3.6486782233535178

In [32]:
X_train

,Adult Mortality,infant deaths,Alcohol,Hepatitis B,Measles,BMI,under-five deaths,Polio,Diphtheria,HIV/AIDS,thinness 1-19 years,Income composition of resources,Schooling
1612,93.0,0,1.47,98.0,1395,18.0,0,98.0,98.0,0.1,14.4,0.625,12.1
2832,183.0,21,2.56,98.0,0,4.0,24,99.0,98.0,0.2,3.1,0.651,11.8
1873,198.0,4,3.77,86.0,0,44.9,5,86.0,86.0,0.3,2.1,0.583,11.0
979,125.0,1,6.13,91.0,3188,55.3,1,91.0,91.0,0.1,2.7,0.759,13.5
2915,526.0,33,2.25,81.0,459,18.8,52,83.0,81.0,15.9,7.0,0.479,10.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,177.0,0,6.58,95.0,0,5.1,0,95.0,95.0,0.2,3.4,0.705,12.8
1040,83.0,1,8.62,9.0,12,58.0,1,9.0,91.0,0.1,0.9,0.801,14.2
2733,25.0,5,8.44,46.0,12746,59.6,5,72.0,76.0,0.2,2.4,0.739,15.1
675,54.0,0,9.04,96.0,0,59.2,0,99.0,99.0,0.1,0.9,0.850,13.8
1658,217.0,8,0.02,74.0,4,26.1,12,73.0,74.0,1.3,9.2,0.475,7.2

In [33]:
pred_test = rfr.predict( [[263.0, #Adult Mortality
                          62, #infant deaths
                          0.01, #Alcohol
                          65.0, #Hepatitis B
                          1154, #Measles
                          19.1, #BMI
                          83, #under-five deaths
                          6.0, # Polio
                          65.0, #Diphtheria
                          0.1, #HIV/AIDS
                          17.3, #thinness 1-19 years
                          0.479 , #Income composition of resources
                          10.1  #Schooling
                         ]])

In [37]:
pred_test[0].round(2)

60.63

In [38]:
# Creating a pickle file for the classifier use randomforest classifier
import pickle
filename = 'life_expectancy.pkl'
pickle.dump(rfr, open(filename, 'wb'))

In [53]:
filename = 'life_expectancy.pkl'
rfr = pickle.load(open(filename, 'rb'))

In [58]:
pred_test = rfr.predict([[263.0,
                          62,
                          0.01,
                          65.0,
                          1154,
                          19.1,
                          83,
                          6.0,
                          65,
                          0.1,
                          17.3,
                          0.479,
                          10.1 ]])

In [40]:
pred_test[0] .round(2)

60.63